@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);






body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Open Sans', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Open Sans', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Bitter', serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Bitter', serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Bitter', serif;
}
.mbr-author-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Bitter', serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #ed1411 !important;
}
.bg-success {
  background-color: #e61714 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #ed1411;
  border-color: #ed1411;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a60e0c;
  border-color: #a60e0c;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a60e0c !important;
  border-color: #a60e0c !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #e61714;
  border-color: #e61714;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #a0100e;
  border-color: #a0100e;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #a0100e !important;
  border-color: #a0100e !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e0c0a;
  color: #8e0c0a;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ed1411;
  border-color: #ed1411;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ed1411 !important;
  border-color: #ed1411 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #880e0c;
  color: #880e0c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #e61714;
  border-color: #e61714;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #e61714 !important;
  border-color: #e61714 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #ed1411 !important;
}
.text-success {
  color: #e61714 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #e61714;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #ed1411;
}
.btn-social:hover {
  background: #ed1411;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #ed1411;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #ed1411;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ed1411;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ed1411;
}
.lead a,
.lead a:hover {
  color: #ed1411;
}
.lead blockquote {
  border-color: #ed1411;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fccfce;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fbcccb;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #ed1411;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-0 .link {
  font-size: 0.75rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #ed1411;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #cc0202;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #f00202!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #fd0404;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #ed1411;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #ed1411!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#header1-1 .mbr-section-lead {
  text-align: left;
}
#header3-p .mbr-section-title,
#header3-p .mbr-section-subtitle {
  text-align: center;
}
#header3-p H3 {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
#features7-o .card-subtitle {
  color: #bcbcbc;
}
#features7-o .iconbox {
  background-color: #ed1411;
  border-color: #ed1411;
}
#features7-o P {
  text-align: left;
}
#header3-1 .mbr-section-title,
#header3-1 .mbr-section-subtitle {
  text-align: center;
}
#header3-1 SMALL {
  text-align: right;
  color: #000000;
  font-size: 14px;
}
#header3-1 H3 {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
#features7-0 .card-subtitle {
  color: #bcbcbc;
}
#features7-0 .iconbox {
  background-color: #ed1411;
  border-color: #ed1411;
}
#features7-0 P {
  font-size: 14px;
  text-align: left;
}
#contacts1-r P {
  text-align: left;
}
#ext_menu-s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-s .navbar-caption {
  color: #ffffff;
}
#ext_menu-s .navbar-toggler {
  color: #ffffff;
}
#ext_menu-s .close-icon::before,
#ext_menu-s .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-s .link,
#ext_menu-s .dropdown-item {
  color: #ffffff;
}
#ext_menu-s .link {
  font-size: 0.75rem;
}
#ext_menu-s .dropdown-item,
#ext_menu-s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-s .link:hover,
#ext_menu-s .dropdown-item:hover,
#ext_menu-s .link:focus,
#ext_menu-s .dropdown-item:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-menu {
  background: #8d0e0e;
}
#ext_menu-s .nav-dropdown-sm .link:focus,
#ext_menu-s .nav-dropdown-sm .link:hover,
#ext_menu-s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-s .nav-dropdown-sm .dropdown-item:hover {
  background: #ae1111!important;
}
#ext_menu-s .navbar,
#ext_menu-s .nav-dropdown-sm,
#ext_menu-s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-s .nav-dropdown-sm .dropdown-menu {
  background: #bc1212;
}
#ext_menu-s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-s .bg-color.transparent.opened .link:hover,
#ext_menu-s .bg-color.transparent.opened .link:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-item[aria-expanded="true"] {
  color: #ed1411!important;
}
#msg-box3-w .mbr-section-title,
#msg-box3-w p {
  color: #000;
}
#contacts1-r P {
  text-align: left;
}

#menu-2 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2 .navbar-caption {
  color: #ffffff;
}
#menu-2 .navbar-toggler {
  color: #ffffff;
}
#menu-2 .link,
#menu-2 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-2 .link {
  font-size: 0.75rem;
}
#menu-2 .dropdown-item,
#menu-2 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2 .link:hover,
#menu-2 .dropdown-item:hover,
#menu-2 .link:focus,
#menu-2 .dropdown-item:focus {
  color: #ed1411;
}
#menu-2 .link[aria-expanded="true"],
#menu-2 .dropdown-menu {
  background: #cc0202;
}
#menu-2 .nav-dropdown-sm .link:focus,
#menu-2 .nav-dropdown-sm .link:hover,
#menu-2 .nav-dropdown-sm .dropdown-item:focus,
#menu-2 .nav-dropdown-sm .dropdown-item:hover {
  background: #f00202!important;
}
#menu-2 .navbar,
#menu-2 .nav-dropdown-sm,
#menu-2 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2 .nav-dropdown-sm .dropdown-menu {
  background: #fd0404;
}
#menu-2 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2 .bg-color.transparent.opened .link:hover,
#menu-2 .bg-color.transparent.opened .link:focus {
  color: #ed1411;
}
#menu-2 .link[aria-expanded="true"],
#menu-2 .dropdown-item[aria-expanded="true"] {
  color: #ed1411!important;
}
#menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2 .close-icon::before,
#menu-2 .close-icon::after {
  background-color: #ffffff;
}
#contacts1-r P {
  text-align: left;
}
#msg-box3-x .mbr-section-title,
#msg-box3-x p {
  color: #000;
}
#ext_menu-s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-s .navbar-caption {
  color: #ffffff;
}
#ext_menu-s .navbar-toggler {
  color: #ffffff;
}
#ext_menu-s .close-icon::before,
#ext_menu-s .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-s .link,
#ext_menu-s .dropdown-item {
  color: #ffffff;
}
#ext_menu-s .link {
  font-size: 0.75rem;
}
#ext_menu-s .dropdown-item,
#ext_menu-s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-s .link:hover,
#ext_menu-s .dropdown-item:hover,
#ext_menu-s .link:focus,
#ext_menu-s .dropdown-item:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-menu {
  background: #8d0e0e;
}
#ext_menu-s .nav-dropdown-sm .link:focus,
#ext_menu-s .nav-dropdown-sm .link:hover,
#ext_menu-s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-s .nav-dropdown-sm .dropdown-item:hover {
  background: #ae1111!important;
}
#ext_menu-s .navbar,
#ext_menu-s .nav-dropdown-sm,
#ext_menu-s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-s .nav-dropdown-sm .dropdown-menu {
  background: #bc1212;
}
#ext_menu-s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-s .bg-color.transparent.opened .link:hover,
#ext_menu-s .bg-color.transparent.opened .link:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-item[aria-expanded="true"] {
  color: #ed1411!important;
}
#msg-box3-v .mbr-section-title,
#msg-box3-v p {
  color: #000;
}
#ext_menu-s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-s .navbar-caption {
  color: #ffffff;
}
#ext_menu-s .navbar-toggler {
  color: #ffffff;
}
#ext_menu-s .close-icon::before,
#ext_menu-s .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-s .link,
#ext_menu-s .dropdown-item {
  color: #ffffff;
}
#ext_menu-s .link {
  font-size: 0.75rem;
}
#ext_menu-s .dropdown-item,
#ext_menu-s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-s .link:hover,
#ext_menu-s .dropdown-item:hover,
#ext_menu-s .link:focus,
#ext_menu-s .dropdown-item:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-menu {
  background: #8d0e0e;
}
#ext_menu-s .nav-dropdown-sm .link:focus,
#ext_menu-s .nav-dropdown-sm .link:hover,
#ext_menu-s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-s .nav-dropdown-sm .dropdown-item:hover {
  background: #ae1111!important;
}
#ext_menu-s .navbar,
#ext_menu-s .nav-dropdown-sm,
#ext_menu-s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-s .nav-dropdown-sm .dropdown-menu {
  background: #bc1212;
}
#ext_menu-s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-s .bg-color.transparent.opened .link:hover,
#ext_menu-s .bg-color.transparent.opened .link:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-item[aria-expanded="true"] {
  color: #ed1411!important;
}
#msg-box3-y .mbr-section-title,
#msg-box3-y p {
  color: #000;
}
#form1-0 .form-control-label {
  color: #232323;
}
#ext_menu-s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-s .navbar-caption {
  color: #ffffff;
}
#ext_menu-s .navbar-toggler {
  color: #ffffff;
}
#ext_menu-s .close-icon::before,
#ext_menu-s .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-s .link,
#ext_menu-s .dropdown-item {
  color: #ffffff;
}
#ext_menu-s .link {
  font-size: 0.75rem;
}
#ext_menu-s .dropdown-item,
#ext_menu-s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-s .link:hover,
#ext_menu-s .dropdown-item:hover,
#ext_menu-s .link:focus,
#ext_menu-s .dropdown-item:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-menu {
  background: #8d0e0e;
}
#ext_menu-s .nav-dropdown-sm .link:focus,
#ext_menu-s .nav-dropdown-sm .link:hover,
#ext_menu-s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-s .nav-dropdown-sm .dropdown-item:hover {
  background: #ae1111!important;
}
#ext_menu-s .navbar,
#ext_menu-s .nav-dropdown-sm,
#ext_menu-s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-s .nav-dropdown-sm .dropdown-menu {
  background: #bc1212;
}
#ext_menu-s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-s .bg-color.transparent.opened .link:hover,
#ext_menu-s .bg-color.transparent.opened .link:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-item[aria-expanded="true"] {
  color: #ed1411!important;
}
#msg-box3-z .mbr-section-title,
#msg-box3-z p {
  color: #000;
}
#ext_menu-s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-s .navbar-caption {
  color: #ffffff;
}
#ext_menu-s .navbar-toggler {
  color: #ffffff;
}
#ext_menu-s .close-icon::before,
#ext_menu-s .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-s .link,
#ext_menu-s .dropdown-item {
  color: #ffffff;
}
#ext_menu-s .link {
  font-size: 0.75rem;
}
#ext_menu-s .dropdown-item,
#ext_menu-s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-s .link:hover,
#ext_menu-s .dropdown-item:hover,
#ext_menu-s .link:focus,
#ext_menu-s .dropdown-item:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-menu {
  background: #8d0e0e;
}
#ext_menu-s .nav-dropdown-sm .link:focus,
#ext_menu-s .nav-dropdown-sm .link:hover,
#ext_menu-s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-s .nav-dropdown-sm .dropdown-item:hover {
  background: #ae1111!important;
}
#ext_menu-s .navbar,
#ext_menu-s .nav-dropdown-sm,
#ext_menu-s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-s .nav-dropdown-sm .dropdown-menu {
  background: #bc1212;
}
#ext_menu-s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-s .bg-color.transparent.opened .link:hover,
#ext_menu-s .bg-color.transparent.opened .link:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-item[aria-expanded="true"] {
  color: #ed1411!important;
}
#msg-box3-10 .mbr-section-title,
#msg-box3-10 p {
  color: #000;
}
#ext_menu-s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-s .navbar-caption {
  color: #ffffff;
}
#ext_menu-s .navbar-toggler {
  color: #ffffff;
}
#ext_menu-s .close-icon::before,
#ext_menu-s .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-s .link,
#ext_menu-s .dropdown-item {
  color: #ffffff;
}
#ext_menu-s .link {
  font-size: 0.75rem;
}
#ext_menu-s .dropdown-item,
#ext_menu-s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-s .link:hover,
#ext_menu-s .dropdown-item:hover,
#ext_menu-s .link:focus,
#ext_menu-s .dropdown-item:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-menu {
  background: #8d0e0e;
}
#ext_menu-s .nav-dropdown-sm .link:focus,
#ext_menu-s .nav-dropdown-sm .link:hover,
#ext_menu-s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-s .nav-dropdown-sm .dropdown-item:hover {
  background: #ae1111!important;
}
#ext_menu-s .navbar,
#ext_menu-s .nav-dropdown-sm,
#ext_menu-s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-s .nav-dropdown-sm .dropdown-menu {
  background: #bc1212;
}
#ext_menu-s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-s .bg-color.transparent.opened .link:hover,
#ext_menu-s .bg-color.transparent.opened .link:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-item[aria-expanded="true"] {
  color: #ed1411!important;
}
#msg-box3-11 .mbr-section-title,
#msg-box3-11 p {
  color: #000;
}
#ext_menu-s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-s .navbar-caption {
  color: #ffffff;
}
#ext_menu-s .navbar-toggler {
  color: #ffffff;
}
#ext_menu-s .close-icon::before,
#ext_menu-s .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-s .link,
#ext_menu-s .dropdown-item {
  color: #ffffff;
}
#ext_menu-s .link {
  font-size: 0.75rem;
}
#ext_menu-s .dropdown-item,
#ext_menu-s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-s .link:hover,
#ext_menu-s .dropdown-item:hover,
#ext_menu-s .link:focus,
#ext_menu-s .dropdown-item:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-menu {
  background: #8d0e0e;
}
#ext_menu-s .nav-dropdown-sm .link:focus,
#ext_menu-s .nav-dropdown-sm .link:hover,
#ext_menu-s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-s .nav-dropdown-sm .dropdown-item:hover {
  background: #ae1111!important;
}
#ext_menu-s .navbar,
#ext_menu-s .nav-dropdown-sm,
#ext_menu-s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-s .nav-dropdown-sm .dropdown-menu {
  background: #bc1212;
}
#ext_menu-s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-s .bg-color.transparent.opened .link:hover,
#ext_menu-s .bg-color.transparent.opened .link:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-item[aria-expanded="true"] {
  color: #ed1411!important;
}
#msg-box3-12 .mbr-section-title,
#msg-box3-12 p {
  color: #000;
}
#ext_menu-s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-s .navbar-caption {
  color: #ffffff;
}
#ext_menu-s .navbar-toggler {
  color: #ffffff;
}
#ext_menu-s .close-icon::before,
#ext_menu-s .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-s .link,
#ext_menu-s .dropdown-item {
  color: #ffffff;
}
#ext_menu-s .link {
  font-size: 0.75rem;
}
#ext_menu-s .dropdown-item,
#ext_menu-s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-s .link:hover,
#ext_menu-s .dropdown-item:hover,
#ext_menu-s .link:focus,
#ext_menu-s .dropdown-item:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-menu {
  background: #8d0e0e;
}
#ext_menu-s .nav-dropdown-sm .link:focus,
#ext_menu-s .nav-dropdown-sm .link:hover,
#ext_menu-s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-s .nav-dropdown-sm .dropdown-item:hover {
  background: #ae1111!important;
}
#ext_menu-s .navbar,
#ext_menu-s .nav-dropdown-sm,
#ext_menu-s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-s .nav-dropdown-sm .dropdown-menu {
  background: #bc1212;
}
#ext_menu-s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-s .bg-color.transparent.opened .link:hover,
#ext_menu-s .bg-color.transparent.opened .link:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-item[aria-expanded="true"] {
  color: #ed1411!important;
}
#msg-box3-13 .mbr-section-title,
#msg-box3-13 p {
  color: #000;
}
#ext_menu-s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-s .navbar-caption {
  color: #ffffff;
}
#ext_menu-s .navbar-toggler {
  color: #ffffff;
}
#ext_menu-s .close-icon::before,
#ext_menu-s .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-s .link,
#ext_menu-s .dropdown-item {
  color: #ffffff;
}
#ext_menu-s .link {
  font-size: 0.75rem;
}
#ext_menu-s .dropdown-item,
#ext_menu-s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-s .link:hover,
#ext_menu-s .dropdown-item:hover,
#ext_menu-s .link:focus,
#ext_menu-s .dropdown-item:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-menu {
  background: #8d0e0e;
}
#ext_menu-s .nav-dropdown-sm .link:focus,
#ext_menu-s .nav-dropdown-sm .link:hover,
#ext_menu-s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-s .nav-dropdown-sm .dropdown-item:hover {
  background: #ae1111!important;
}
#ext_menu-s .navbar,
#ext_menu-s .nav-dropdown-sm,
#ext_menu-s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-s .nav-dropdown-sm .dropdown-menu {
  background: #bc1212;
}
#ext_menu-s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-s .bg-color.transparent.opened .link:hover,
#ext_menu-s .bg-color.transparent.opened .link:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-item[aria-expanded="true"] {
  color: #ed1411 !important;
}
#msg-box3-14 .mbr-section-title,
#msg-box3-14 p {
  color: #000;
}
#ext_menu-s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-s .navbar-caption {
  color: #ffffff;
}
#ext_menu-s .navbar-toggler {
  color: #ffffff;
}
#ext_menu-s .close-icon::before,
#ext_menu-s .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-s .link,
#ext_menu-s .dropdown-item {
  color: #ffffff;
}
#ext_menu-s .link {
  font-size: 0.75rem;
}
#ext_menu-s .dropdown-item,
#ext_menu-s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-s .link:hover,
#ext_menu-s .dropdown-item:hover,
#ext_menu-s .link:focus,
#ext_menu-s .dropdown-item:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-menu {
  background: #8d0e0e;
}
#ext_menu-s .nav-dropdown-sm .link:focus,
#ext_menu-s .nav-dropdown-sm .link:hover,
#ext_menu-s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-s .nav-dropdown-sm .dropdown-item:hover {
  background: #ae1111!important;
}
#ext_menu-s .navbar,
#ext_menu-s .nav-dropdown-sm,
#ext_menu-s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-s .nav-dropdown-sm .dropdown-menu {
  background: #bc1212;
}
#ext_menu-s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-s .bg-color.transparent.opened .link:hover,
#ext_menu-s .bg-color.transparent.opened .link:focus {
  color: #ed1411;
}
#ext_menu-s .link[aria-expanded="true"],
#ext_menu-s .dropdown-item[aria-expanded="true"] {
  color: #ed1411 !important;
}
#header2-7 H3 {
  text-align: left;
}
#header2-7 P {
  text-align: left;
}
#features4-9 .card-subtitle {
  color: #bcbcbc;
  text-align: center;
}
#features4-9 .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-9 P {
  text-align: left;
}
#contacts1-1 P {
  text-align: left;
}
